= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Search Novels")
    %li= link_to glyph(:home).concat(" Help"), stories_path
    %li= link_to glyph(:home).concat(" Back to Novels"), stories_path
  %hr
  %p= glyph(:home).concat(" Scene List")

  %ul.scene-list
    = render 'scene_list', scenes: @scenes
  %hr
  %h2 Scenes
  %p Quick Scene:
  = render 'new_scene'

  %hr
  = image_tag('zn.png', alt: 'zennovellogo', class: 'img-rounded')




.well
  %h3.text-center #{@story.overview}: #{pluralize(@scenes.count,'scene')}



#scenes.well= render @scenes


.well
  %h4 You have reached the end of your Scenes for this Novel.
  %p © Copyright <span id="year">TEXT</span> #{current_user.name} - All Rights Reserved.
  .pull-right
    = link_to 'Back to Top', '#top'


