%h2 Scenes
%p Create a New Scene here:

= render 'new_scene'

%p Here are your list of your Scenes:

%ul
  =@scenes.each do |s|
    %li #{s.title} #{s.scene_content} 
    #{link_to 'Edit', edit_story_scene_path(@story, s)} | #{link_to('Delete', story_scene_path(@story, s), :method => :delete, :confirm => 'Are you sure?')}
    %br
    %br