.span9.well
  %h3{:align => "center"} #{@story.overview}: #{@scenes.count} scene(s)




.span9.well
  #accordion.panel-group
    -@scenes.each_with_index do |s, index|  
      .span8.well_shadow
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#scene_#{index}"}
                #{s.title}
          .panel-collapse.collapse.in{id: "scene_#{index}"}
            .panel-body
              %p #{s.scene_content}
              %p{:align => "right"} #{link_to 'Edit scene', edit_story_scene_path(@story, s)} | #{link_to 'Delete this Scene', story_scene_path(@story, s), :method => 'delete', data: { confirm: 'Are you sure you want to DELETE this Novel? This cannot be undone!' }}
 


/ .span9.well
/   -@scenes.each do |s|
/     .span8.well_shadow
/       %h5 #{s.title}
/       %p #{s.scene_content}
/       %p{:align => "right"} #{link_to 'Edit scene', edit_story_scene_path(@story, s)} | #{link_to 'Delete this Scene', story_scene_path(@story, s), :method => 'delete', data: { confirm: 'Are you sure you want to DELETE this Novel? This cannot be undone!' }}


/ Below is the QJuery-UI bits
%link{:href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
%script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
/ %link{:href => "/resources/demos/style.css", :rel => "stylesheet"}/
:javascript
  $(function() {
    $( "#sortable" ).sortable({
      revert: true
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  });
/ Above is the QJuery-UI bits


= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Search Novels")
    %li= link_to glyph(:home).concat(" Help"), stories_path
    %li= link_to glyph(:home).concat(" Back to Novels"), stories_path

  

  %hr
  %p= glyph(:home).concat(" Scene List")
  %ul#sortable
    -@scenes.each do |s|  
      #draggable
        %li.scene #{truncate(s.title, :length => 20)}






  %hr
  %h2 Scenes
  %p Quick Scene:
  = render 'new_scene'

  %hr
  / %img.img-rounded{:alt => "ZenNovel Logo", :src => "zn.png"}/
  = image_tag('zn.png', alt: 'zennovellogo', class: 'img-rounded')

.span9.well
  %h4 You have reached the end of your Scenes for this Novel
  %div{:style => "float:right; text-align:center"}
    %a{:href => "#top"} Back to Top



