%h2 Novels
%p Create a New Novel here:

= render 'form'

%p Here are your list of your Novels:

%ul
-@stories.each do |s|
  %li #{s.overview} | #{link_to 'Edit', edit_story_path(s)} | #{link_to 'Write', story_scenes_path(s)} | #{link_to 'Delete', s, :method => 'delete', :confirm => 'Are you sure?'}


= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Search Novels")
    %li= link_to glyph(:home).concat(" Help"), stories_path