= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Search Novels")
    %li= link_to glyph(:home).concat(" Help"), stories_path
    %li= link_to glyph(:home).concat(" Take the Tour"), stories_path
  %hr
  %h2 Novels
  %p Create a New Novel here:
  #create_story
    = render 'form'

  %hr
  %p Your Novels
  %ul{id: 'story-list'}
    -@stories.each do |s|
      %li= truncate(s.overview, length: 20)

.well
  Welcome to your bookshelf, #{(current_user.name.capitalize)}. You have #{@stories.size} novels in total.

  %hr
  = image_tag('zn.png', alt: 'zennovellogo', class: 'img-rounded')

#stories= render @stories

%br
.well
  %h4 You have reaced the end of your Novel list
  %div{style: "float:right; text-align:center"}
    %a{href: "#top"} Back to Top