= content_for :sidebar do
  - nav_list do
    %li= link_to glyph(:home).concat(" Search Novels")
    %li= link_to glyph(:home).concat(" Help"), stories_path
    %li= link_to glyph(:home).concat(" Take the Tour"), stories_path
  %hr
  %h2 Novels
  %p Create a New Novel here:
  #create_story
    = render 'stories/new_story'

  %hr
  #story-list= render 'stories/story_list', stories: @stories

.well
  Welcome to your bookshelf, #{(current_user.name.capitalize)}. You have #{@stories.size} novels in total.
  %hr
  = image_tag('zn.png', alt: 'zennovellogo', class: 'img-rounded')

#stories= render @stories

.well
  %h4 You have reached the end of your Novel list
  .pull-right
    = link_to 'Back to Top', '#top'
