%h2 Sign in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, autofocus: true
    = f.input :password
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      = link_to "Forgot your password?", new_password_path(resource_name)
    = f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false if devise_mapping.rememberable?
    = f.button :submit, "Sign in", class: 'btn btn-primary'
= render "devise/shared/links"
