%ul.nav.inverse.pull-right
  %li= link_to "Contact", new_contact_form_path
  %li= link_to "About", page_path('about')
  %li= link_to "FAQ", page_path('faq')
  %li= link_to "Terms", page_path('terms_of_service')
  %li= link_to "Privacy", page_path('privacy_policy')