- if user_signed_in?
  = link_to 'NovelOffice', stories_path, class: 'brand'
- else
  = link_to 'NovelOffice', root_path, class: 'brand'


/ %ul.nav
/   %li.active
/     - if user_signed_in?
/       = link_to 'Home', stories_path
/     - else
/       = link_to 'Home', root_path
%ul.nav.pull-right

  - if user_signed_in?
    %li
      = link_to 'Novels', stories_path
    %li
      = link_to glyph(:question_sign, :white).concat(' Help'), '#', id: 'help'

    %li.dropdown
      %a.dropdown-toggle{data:{toggle: "dropdown"}, href: "#"}
        Account
        %b.caret
        %ul.dropdown-menu
          %li
            = link_to 'Profile', edit_user_registration_path
          %li.divider
          %li
            = link_to 'Logout', destroy_user_session_path, method: :delete
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path

